body {
    background-color: lightblue;
}

.form {
    border: 2px solid;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: navy;
    background-color: white;
    font-style: bold;
    border: 2px solid blue;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label{
 
   
    padding: auto;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.label-1{
 
   margin-top: 30px;
    padding: auto;
    align-items: center;
    font-size: 20px;
}



.btn{
    
  
    align-items: center;
    margin: auto;
    width: 50%;
    font-size: 20px;
    color: blue;
    font-size: 30px;
    text-align: center;
    padding: 10px 24px;
    font-weight: bold;
}

.prediction{
    text-align: center;
    
    font-weight: bold;
    padding-top: 10px;
}

.tag-1{
    color: navy;
    font-weight: bold;
    margin-right: 100px;
}

.tag-2{
    color: navy;
    font-weight: bold;
    margin-right: 100px;
}
.tag-3{
    color: navy;
    font-weight: bold;
    margin-right: 50px;
}
.tag-4{
    color: navy;
    font-weight: bold;
    margin-right: 100px;
}
.tag-5{
    color: navy;
    font-weight: bold;
    margin-right: 100px;
}

.input-1{
    margin-left: 10px;
}